---
import { getCollection, render } from "astro:content";

import RootLayout from "@/layouts/RootLayout.astro";
import PostBody from "@/components/PostBody.astro";
import PostFrontmatter from "@/components/PostFrontmatter.astro";

export async function getStaticPaths() {
  return (await getCollection("blogPost")).map((post) => {
    const [year, month, date] = post.data.date.trim().split("T")[0].split("-");

    return {
      params: {
        year,
        month,
        date,
        slug: post.data.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<RootLayout
  pageMetadata={{
    title: post.data.title,
    description: post.data.description,
    keywords: [
      ...post.data.keywords.main,
      ...post.data.keywords.sub,
      ...post.data.keywords.misc,
    ],
    thumbnail: post.data.thumbnail,
    noindex: post.data.noindex,
  }}
>
  <article class="post">
    <PostFrontmatter post={post} />

    <hr />

    <PostBody><Content /></PostBody>
  </article>

  <section class="comment">
    <!-- <Giscus /> -->
  </section>
</RootLayout>

<style is:global>
  main {
    margin-bottom: var(--gap-section);
  }
</style>

<style>
  .post {
    line-height: 1.8;
    font-size: 1rem; /* 16px */
  }

  .post > hr {
    margin: var(--gap-section) var(--gap-column);
  }

  .comment {
    margin: calc(2 * var(--gap-section)) var(--gap-column) 0;
  }
</style>
