---
import { getCollection, render } from "astro:content";

import RootLayout from "@/layouts/RootLayout.astro";
import PostFrontmatter from "@/components/PostFrontmatter.astro";

export async function getStaticPaths() {
  return (await getCollection("blogPost")).map((post) => {
    const [year, month, date] = post.data.date.trim().split("T")[0].split("-");

    return {
      params: {
        year,
        month,
        date,
        slug: post.data.slug,
      },
      props: {
        post,
      },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<RootLayout>
  <article class="post">
    <PostFrontmatter post={post} />

    <hr />

    <div class="post-body"><Content /></div>
  </article>

  <section class="comment">
    <!-- <Giscus /> -->
  </section>
</RootLayout>

<style is:global>
  main {
    margin-bottom: var(--gap-section);
  }
</style>
