:root {
  /* --breakpoint-md: 600px; */
  /* --breakpoint-lg: 744px; */
  --content-width-max: 744px;

  --gap-unit: 8px;
  /* TODO 3: 정리 필요. 원본에서 한 파일에 아래 순서로 2번 정의됨. */
  --gap-section: calc(5 * var(--gap-unit));
  --gap-section: 60px;
  --gap-column: calc(2 * var(--gap-unit));

  --text-section-heading: 1.5rem; /* 24px */
  --text-category-name: 1.125rem; /* 18px */
  --text-category-name-md: 1.25rem; /* 20px */
  --text-list-item-title: 1rem; /* 16px */
  --text-list-item-title-md: 1.125rem; /* 18px */

  /* 1rem의 1.125배수의 근삿값 */
  --text-post-h1: 1.6rem; /* 25.6px */
  --text-post-h2: 1.425rem; /* 22.8px */
  --text-post-h3: 1.26875rem; /* 20.3px */
  --text-post-h4: 1.125rem; /* 18px */
  --text-post-h5: 1rem; /* 16px */
  --text-post-h6: 0.8875rem; /* 14.2px, 사용하지 않음 */

  /* 1rem의 1.1875배수의 근삿값 */
  --text-post-h1-md: 2rem; /* 32px */
  --text-post-h2-md: 1.68125rem; /* 26.9px */
  --text-post-h3-md: 1.4125rem; /* 22.6px */
  --text-post-h4-md: 1.1875rem; /* 19px */
  --text-post-h5-md: 1rem; /* 16px */
  --text-post-h6-md: 0.8875rem; /* 14.2px, 사용하지 않음 */

  --column-width: calc(
    (100% + var(--gap-column)) * var(--span-column, 1) /
      var(--count-column, 1) - var(--gap-column)
  );

  --line-height-as-base: calc(
    var(--font-size, 1rem) + (var(--factor, 1.8) - 1) * 1rem
  );
}

/* md */
@media (min-width: 600px) {
  :root {
    --gap-column: calc(3 * var(--gap-unit));
  }
}
