.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--text-ellipsis-lines, 1);
  line-clamp: var(--text-ellipsis-lines, 1);
  text-overflow: ellipsis;
  overflow: hidden;
}
