@use '../../font';
@use '../../size';
@use '../../theme-color';

.root {
  line-height: 1.6;

  .thumbnail {
    display: block;

    margin-bottom: var(--gap-column);
    width: 100%;
    height: auto;
  }

  .text {
    margin: var(--gap-column) var(--gap-column) size.$gap-section;

    .title {
      margin: 0;

      line-height: size.line-height-as-base(size.$text-post-h1);
      font-size: size.$text-post-h1;
      font-weight: var(--font-weight-sans-bold);
    }

    .description {
      margin: (2 * size.$gap-unit) 0;

      color: theme-color.$text-bright-1;
    }
  }
}
