---
import categories from "@/data/blog-post/metadata/categories.json";

import CategoryListItem from "./CategoryListItem.astro";

interface Props {
  heading: string;
  categoryId?: string;
}

const { heading, categoryId = "" } = Astro.props;

const items = categories.filter(({ id }) => categoryId !== id);
---

<section class="category">
  {heading ? <h2 class="title">{heading}</h2> : null}

  <dl class="list">
    {
      items.map(({ id, label, description }) => (
        <CategoryListItem
          categoryId={id}
          label={label}
          description={description}
        />
      ))
    }
  </dl>
</section>

<style>
  .category {
    line-height: 1.4;
  }

  .title {
    margin: 0;

    font-size: var(--text-section-heading);
    font-weight: var(--font-weight-sans-bold);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(3 * var(--gap-unit));

    margin: calc(3 * var(--gap-unit)) 0 0;
  }
</style>
