---
import { join } from "node:path";

import fixPath from "@/utils/fixPath";

interface Props {
  categoryId: string;
  label: string;
  description: string;
}

const { categoryId, label, description } = Astro.props;
---

<div class="item">
  <dt>
    <a href={fixPath(categoryId ? join("/category/", categoryId) : "/post")}>
      {label}
    </a>
  </dt>

  <dd>{description}</dd>
</div>
