---
import authorImage from "@/assets/author.svg";
---

<section class="profile">
  <div class="title-line">
    <h1 class="title">
      <img
        class="logo"
        alt="yejunian"
        src={authorImage.src}
        width={authorImage.width}
        height={authorImage.height}
      />
    </h1>

    <div class="more">
      <a href="https://github.com/yejunian">GitHub</a>
    </div>
  </div>

  <p class="desc">
    컴퓨터공학, 웹 프론트엔드를 중심으로 이것저것 공부하고 있습니다.
  </p>
</section>
