@use '../font';
@use '../size';
@use '../theme-color';

.root {
  .title-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 1;

    .title {
      margin: 0;

      font-size: size.$text-general-h1-sm;
      font-weight: var(--font-weight-sans-regular);

      @media (min-width: size.$breakpoint-md) {
        font-size: size.$text-general-h1;
      }

      .logo {
        display: block;
        object-fit: contain;
      }
    }

    .more {
      color: theme-color.$gray-08;
      font-size: 13px;

      @media (min-width: size.$breakpoint-md) {
        font-size: 14px;
      }

      a {
        color: inherit;
      }
    }
  }

  .description {
    margin: (2 * size.$gap-unit) 0 0;

    line-height: 1.6;
    font-size: 14px;

    @media (min-width: size.$breakpoint-md) {
      font-size: 16px;
    }
  }
}
