@use 'sass:math';
@use '../size';
@use '../theme-color';

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: (2 * size.$gap-unit) size.$gap-unit;

  margin: (3 * size.$gap-unit) (-0.125 * size.$gap-unit);

  font-size: 13px;

  @media (min-width: size.$breakpoint-md) {
    font-size: 14px;
  }

  a {
    display: block;
    border: 2px solid theme-color.$line-bright;
    border-radius: (0.5 * size.$gap-unit);
    padding: (0.75 * size.$gap-unit) (1.5 * size.$gap-unit);
    background-color: theme-color.$gray-00;

    color: theme-color.$text-bright-2;
    font-weight: 500;
    text-decoration: none;

    &.selected {
      border-color: theme-color.$text-link-dark;
      color: theme-color.$text-link-dark;
      font-weight: 600;
    }

    &:hover {
      border-color: theme-color.$text-link;
      color: theme-color.$text-link;
    }
  }
}
