@use '../../font';
@use '../../size';

.root {
  line-height: 1.4;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    margin: 0;

    font-size: size.$text-section-heading;
    font-weight: var(--font-weight-sans-bold);
  }

  .list {
    margin: (3 * size.$gap-unit) 0 0;

    .item-group {
      margin: (3 * size.$gap-unit) 0 0;

      cursor: pointer;

      dt {
        margin: size.$gap-unit 0 (0.5 * size.$gap-unit);
        font-size: size.$text-category-name;
        font-weight: var(--font-weight-sans-bold);
      }

      dd {
        margin: (0.5 * size.$gap-unit) 0;

        line-height: 1.6;
        font-size: 14px;

        @media (min-width: size.$breakpoint-md) {
          font-size: 16px;
        }
      }
    }
  }
}
