@use '../../../post-body';
@use '../../../size';

.post {
  line-height: 1.8;
  font-size: 16px;

  > hr {
    margin: size.$gap-section var(--gap-column);
  }

  .post-body {
    margin: (5 * size.$gap-unit) var(--gap-column);

    @include post-body.base;
  }
}

.comment {
  margin: (2 * size.$gap-section) var(--gap-column) 0;
}
