$sans-serif:
  'Pretendard Variable',
  -apple-system,
  BlinkMacSystemFont,
  'Apple SD Gothic Neo',
  'Malgun Gothic',
  sans-serif;

$monospace: 'Cascadia Mono', 'Cascadia Code', 'Menlo', 'Consolas', 'Courier New',
  'Pretendard Variable', 'Apple SD Gothic Neo', 'Malgun Gothic', monospace;

@mixin declare-css-variables {
  --font-weight-sans-regular: 400;
  --font-weight-sans-bold: 700;

  --font-weight-mono-regular: 400;
  --font-weight-mono-bold: 700;

  @media screen and (max-resolution: 1.4dppx) {
    --font-weight-sans-regular: 450;
  }

  @media screen and (max-resolution: 1.19dppx) {
    --font-weight-sans-regular: 500;
  }
}
