@use 'sass:map';
@use 'sass:math';

$breakpoint-md: 600px;
$breakpoint-lg: 744px;

$gap-unit: 8px;
$gap-section: 5 * $gap-unit;
$gap-section: 60px;

$content-width-max: 744px;

$text-base: 16px;

$text-section-heading: 24px;
$text-category-name: 18px;
$text-category-name-md: 20px;
$text-list-item-title: 16px;
$text-list-item-title-md: 18px;

$text-post-h1: 25.6px;
$text-post-h2: 22.8px;
$text-post-h3: 20.3px;
$text-post-h4: 18px;
$text-post-h5: 16px;
$text-post-h6: 14.2px; // Intended not to use

$text-post-h1-md: 32px;
$text-post-h2-md: 26.9px;
$text-post-h3-md: 22.6px;
$text-post-h4-md: 19px;
$text-post-h5-md: 16px;
$text-post-h6-md: 14.2px; // Intended not to use

$text-post-sizes: (
  h1: $text-post-h1,
  h2: $text-post-h2,
  h3: $text-post-h3,
  h4: $text-post-h4,
  h5: $text-post-h5,
  h6: $text-post-h6,
);
$text-post-sizes-md: (
  h1: $text-post-h1-md,
  h2: $text-post-h2-md,
  h3: $text-post-h3-md,
  h4: $text-post-h4-md,
  h5: $text-post-h5-md,
  h6: $text-post-h6-md,
);

@function column-width($column-count, $spanning: 1, $is-margin-included: true) {
  $width: 100%;

  @if $is-margin-included == false {
    $width: calc(100% + var(--gap-column));
  } @else {
    $width: calc(100% - var(--gap-column));
  }

  @return calc($width * $spanning / $column-count - var(--gap-column));
}

@function line-height-as-base($font-size: 16px, $factor: 1.8) {
  @return $font-size + ($factor - 1) * $text-base;
}

@function font-post-heading($heading-level: 2, $prefix: null) {
  @if $prefix == md {
    @return map.get($text-post-sizes-md, h#{$heading-level});
  } @else {
    @return map.get($text-post-sizes, h#{$heading-level});
  }
}

@mixin text-ellipsis($visible-line-count) {
  display: -webkit-box;
  -webkit-line-clamp: $visible-line-count;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin variables {
  --gap-column: #{2 * $gap-unit};
}

@mixin variables-nested {
  @media (min-width: $breakpoint-md) {
    --gap-column: #{3 * $gap-unit};
  }
}
