@use 'sass:map';

$breakpoint-md: 600px;
$breakpoint-lg: 744px;

$gap-unit: 8px;
$gap-section: 5 * $gap-unit;

$content-width-max: 744px;

$text-base: 16px;
$text-h1: 24px;
$text-h2: 22px;
$text-h3: 20px;
$text-h4: 18px;
$text-h5: 16px;
$text-h6: 15px; // Intended not to use

$text-sizes: (
  base: $text-base,
  h1: $text-h1,
  h2: $text-h2,
  h3: $text-h3,
  h4: $text-h4,
  h5: $text-h5,
  h6: $text-h6,
);

@function column-width($column-count, $is-margin-included: true) {
  $width: 100%;

  @if $is-margin-included == false {
    $width: calc(100% + var(--gap-column));
  } @else {
    $width: calc(100% - var(--gap-column));
  }

  @return calc($width / $column-count - var(--gap-column));
}

@function line-height-as-base($font-size: 16px, $factor: 1.8) {
  @return $font-size + ($factor - 1) * $text-base;
}

@function font-heading($heading-level: 2) {
  @return map.get($text-sizes, h#{$heading-level});
}

@mixin declare-css-variables {
  --gap-column: #{2 * $gap-unit};

  @media (min-width: $breakpoint-md) {
    --gap-column: #{3 * $gap-unit};
  }
}
