---
import "@/styles/color.css";
import "@/styles/font.css";
import "@/styles/size.css";
import "@/styles/utility.css";
---

<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/blog/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>yejunian/blog</title>
  </head>

  <body>
    <header>[Header]</header>

    <main>
      <slot />
    </main>

    <footer>[Footer]</footer>
  </body>
</html>

<style is:global>
  html {
    margin: 0;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;

    color: var(--color-text);
    font-family: var(--font-sans);
    font-feature-settings: "ss10"; /* Pretendard 중간 크기 심벌(원 문자) */
    font-weight: var(--font-weight-sans-regular);

    word-break: keep-all;
    overflow-wrap: break-word;
  }

  main {
    box-sizing: border-box;
    width: min(100%, var(--content-width-max));
  }
</style>
