name: GitHub Pages로 블로그 배포

on:
  push:
    branches: [main]

  repository_dispatch:
    types: [post-change]

  # Actions 탭에서 수동으로 워크플로 실행 허용
  workflow_dispatch:

# GitHub Pages로 배포할 수 있도록 GITHUB_TOKEN의 권한 설정
permissions:
  contents: read
  pages: write
  id-token: write

# 진행 중인 배포와 마지막으로 들어온 배포 사이의 실행을 건너뛰고, 한 번에 한 가지 배포만 허용
# 진행 중인 실행을 취소하지는 않음
concurrency:
  group: pages
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: 블로그 코어 체크아웃
        uses: actions/checkout@v5

      - name: Install, build, and upload your site output
        uses: withastro/action@v5
        with:
          package-manager: pnpm@latest
          build-cmd: pnpm clone-post && pnpm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    timeout-minutes: 3

    steps:
      - name: GitHub Pages로 배포
        id: deployment
        uses: actions/deploy-pages@v4
